<header>Trimester Details</header>

<div class="container">
  <ul class="trimester-list">
    <li class="trimester-card">
      <h2><%= @trimester.term %> <%= @trimester.year %></h2>
      <p>Start: <%= @trimester.start_date %></p>
      <p>End: <%= @trimester.end_date %></p>
      <p>Application Deadline: <%= @trimester.application_deadline %></p>
    </li>
  </ul>
</div>
